  
body        { padding-top:10px; }
.avatar{

    width:70%;
    border-radius: 25%;
    align-content: center;
}

.avatar3{

    width:40%;
    border-radius: 25%;
    align-content: center;
}

.avatar5{

    width:20%;
    border-radius: 25%;
    align-content: center;
}
.avatar2{

    width:20%;
    align-content: center;
}

.avatar4{


    align-content: center;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


button {
    background-color: #4CAF51;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#alert_message{
    visibility: hidden;
}
#footer{
    text-align: center;
    bottom:0px;
    border-color: gray;
    border-width:1px;
    width:100%;
    border-style:dotted;
    text-align:center
}

.stericlinicbutton {
    color: #ffffff;
    background-color: #4CAF51;
    border-color: #285e8e;
}

.stericlinicbutton2 {
    color: #ffffff;
    background-color: #4CAF51;
    border-color: #285e8e;
    width: 100%;
}


.stericlinicbutton3 {
    color: #ffffff;
    background-color: #4CAF51;
    border-color: #285e8e;
    width: 40%;
}

#grafica{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

canvas {
    cursor: crosshair;
    border: 1px solid #000000;
}